body, html {
    width: 100%;
    height: 100%;
  
    background:url(bg.png);
   
}

#head_logo, #logo_img {
    height: 300px;
    width: 100%;
    
}

.menu_inner
{
    margin: 0px auto;
    height: 60px;
    background-color: aquamarine;
    width: 250px;
    border-radius: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.menu_inner .menu_item
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .20s ease-in-out;
    cursor: pointer;
    background-size: 30px 30px;
    background-position: center center;
    background-repeat: no-repeat;
}

.menu_inner .menu_item.active
{
    background-color: rgba(255,255,255,0.5);
}

.menu_inner .menu_item.selected
{
    background-color: #ffffff;
}